* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(85, 85, 85);
}

header {
    padding-bottom: 5vh;
    background-color: rgb(12, 79, 124);
}

header nav .navbarBox {
    display: flex;
    align-items: center;
}

header nav .navbarBox h5 {
    margin-left: 3%;
    padding-top: 5vh;
    font-size: 2em;
    color: white;
}

header nav .navbarBox ul {
    display: inline-flex;
    margin-top: 0;
}

header nav .navbarBox ul li:first-child {
    margin-left: 15%;
}

header nav .navbarBox ul li {
    list-style: none;
    margin-right: 55px;
    margin-top: 5vh;
}

header nav .navbarBox ul li a {
    text-decoration: none;
    color: white;
}

.ComedySection h5 {
    margin-top: 7vh;
    margin-bottom: 3vh;
    margin-left: 1%;
    font-size: 3em;
    color: green;
}

.ComedySection .posterSection {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    height: 100%;
}

.ComedySection .posterSection .moviePoster {
    margin: 25px;
    flex-grow: 1;
    flex-basis: 150px;
}

.ActionSection h5 {
    margin-left: 1%;
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 3em;
    color: blue;
}

.ActionSection .posterSection {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    height: 100%;
}

.ActionSection .posterSection .moviePoster {
    margin: 25px;
    flex-grow: 1;
    flex-basis: 150px;
}

.HorrorSection h5 {
    margin-left: 1%;
    margin-bottom: 3vh;
    margin-top: 7vh;
    font-size: 3em;
    color: red;
}

.HorrorSection .posterSection {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    height: 100%;
}

.HorrorSection .posterSection .moviePoster {
    margin: 25px;
    flex-grow: 1;
    flex-basis: 150px;
}

section img {
    display:block;
    width: 100%;
    height: 100%;
}

/*----------------------MEDIA QUERIES-------------------------*/

@media screen and (max-width: 700px) {

    header nav .navbarBox h5 {
        margin-left: 40%;
    }

    header nav .navbarBox ul li a {
        display: none;
    }
}